-#
  <h1>Log In</h1>
  <%= form_for :login do |f| %>
      <div>
        <%= f.label :rfc %>
        <%= f.text_field :rfc, autofocus: true %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "Log In" %>
      </div>
  <% end %>

%div.section
  %main
    %center
      #login-area
        %div.img-login
        .login-title= "Clientes"
        .login-message= "Descarga de complementos"

        %form.col.s12{:method=>"post"}

          %div.row
            %div.input-field.col.s8.offset-s2
              %input.inputBgOpaque.validate{:type=>"text", :name=>"rfc", :id=>"rfc"}
              %label{:for=>"rfc"} RFC

          %div.row
            %div.input-field.col.s8.offset-s2
              %input.inputBgOpaque.validate{:type=>"password", :name=>"password", :id=>"password"}
              %label{:for=>"password"} Clave

          %center
            %div.row
              %button.col.s3.offset-s4.btn.btn-large.waves-effect.indigo{:type=>'submit', :name=>'btn_login'} Entrar

        -if notice
          .login-message
            =notice

        -#.login-methods
          #login-google-apps.login-method
            %button.btn{'onclick' => "window.location = '/auth/google_oauth2';"}
              = "Accede con tu cuenta @cimav.edu.mx"
        .clearfix


          -#
              <form class="col s12" method="post">
                <div class='row'>
                  <div class='col s12'>
                  </div>
                </div>

                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='email' name='email' id='email' />
                    <label for='email'>Enter your email</label>
                  </div>
                </div>

                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='password' name='password' id='password' />
                    <label for='password'>Enter your password</label>
                  </div>
                  <label style='float: right;'>
                    <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                  </label>
                </div>

                <br />
                <center>
                  <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
                  </div>
                </center>
              </form>
            </div>


