/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#NOimg-logo {
  background-color: white;
  border-radius: 46%;
  margin-top: 10px;
  margin-left: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background: #37474F;
  /*color: #80CBC4; /* #ffffff; */
}

#nav-wrapper {
  display: flex;
}

#header-left {
  width: 300px;
  border: 1px dotted blue;
  display: inline-block;
  float: left;
}

#header-right {
  width: 200px;
  border: 3px dotted green;
  display: inline-block;
  float: right;
}

#img-logo {
  margin: 10px;
  padding: 0px;
  /* filter: contrast(260%); */
  background-color: white;
  border-radius: 46%;

}

.collection {
    /*margin: 0; */
    margin-top: 0;
    border: 3px dotted red;
}

.collection a.collection-item:not(.active):hover {
    background-color: #ddd;
}

a:focus, a:hover {
    text-decoration: none;
}

.docu-item {
    color: #26a69a;
    .icon-visibility {
        display: none;
    }
}

.docu-item:hover {
    background-color: #ddd !important;
    .icon-visibility {
        display: block;
    }
}

.badge {
    margin-left: 0 !important;
    margin-right: 10px;
    border-radius: 4px;
    color: initial !important;
}

.character-counter {
    display: none;
}

.vacia {
    color: #b3b2b2 !important;
}

.docu-item-right {
    float: right;
    display: inline-flex;
    /* font-size: xx-large; */
    color: gray;
    i {
        color: gray;
        margin-left: 13px;
    }
}


